@model MVC.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "Detailjer Kategori";
}

    <div class="jumbotron">
        <h2>Detaljer</h2>

        <div>
            <h4>App</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Category.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category.Name)
                    <ul class="list-inline">
                        @foreach (var app in Model.Apps)
                        {
                            <li class="list-group-item">
                                @app.AppName
                            </li>
                        }
                    </ul>
                </dd>
            </dl>

            <div class="well-lg pull-right">
                <h4>Skapad av: @Model.Category.User</h4>
            </div>

        </div>
        <p>
            @Html.ActionLink("Rediger", "Edit", new { id = Model.Category.Id }) |
            @Html.ActionLink("Tillbaka", "Index", new { controller = "admin" })
        </p>
    </div>