@model MVC.ViewModels.AdminViewModel


<div class="jumbotron">

    <!-- Applications Start-->

    <p>
        @Html.ActionLink("Skapa Ny", "Create", new { controller = "apps"})
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(m => Model.Apps)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Apps)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppName)
                </td>
                <td>
                    @Html.ActionLink("Redigera", "Edit", new { controller = "apps", id = item.Id }) |
                    @Html.ActionLink("Detaljer", "Details", new { controller = "apps", id = item.Id }) |
                    @Html.ActionLink("Radera", "Delete", new { controller = "apps", id = item.Id })
                </td>
            </tr>
        }

    </table>
    <!-- Applications End -->

</div>
<div class="jumbotron">

    <!-- Categories Start-->
    <p>
        @Html.ActionLink("Skapa Ny", "Create", new { controller = "categories" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(m => Model.Categories)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Categories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Redigera", "Edit", new { controller = "categories", id = item.Id }) |
                    @Html.ActionLink("Detaljer", "Details", new { controller = "categories", id = item.Id }) |
                    @Html.ActionLink("Radera", "Delete", new { controller = "categories", id = item.Id })
                </td>
            </tr>
        }

    </table>
    <!-- Categories End -->

</div>
<div class="jumbotron">

    <!-- Places Start-->
    <p>
        @Html.ActionLink("Skapa Ny", "Create", new { controller = "places" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(m => Model.Places)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Places)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Redigera", "Edit", new { controller = "places", id = item.Id }) |
                    @Html.ActionLink("Detaljer", "Details", new { controller = "places", id = item.Id }) |
                    @Html.ActionLink("Radera", "Delete", new { controller = "places", id = item.Id })
                </td>
            </tr>
        }

    </table>
    <!-- Places End -->

</div>
